/* Color Theme Swatches in Hex */
.한국투자주식앱-1-hex { color: #4D5175; }
.한국투자주식앱-2-hex { color: #F2F2F2; }
.한국투자주식앱-3-hex { color: #BFC9D8; }
.한국투자주식앱-4-hex { color: #21A3F5; }
.한국투자주식앱-5-hex { color: #30B7FB; }

/* Color Theme Swatches in RGBA */
.한국투자주식앱-1-rgba { color: rgba(77, 80, 117, 1); }
.한국투자주식앱-2-rgba { color: rgba(242, 242, 242, 1); }
.한국투자주식앱-3-rgba { color: rgba(191, 200, 216, 1); }
.한국투자주식앱-4-rgba { color: rgba(33, 163, 244, 1); }
.한국투자주식앱-5-rgba { color: rgba(47, 182, 251, 1); }

/* Color Theme Swatches in HSLA */
.한국투자주식앱-1-hsla { color: hsla(234, 20, 38, 1); }
.한국투자주식앱-2-hsla { color: hsla(0, 0, 94, 1); }
.한국투자주식앱-3-hsla { color: hsla(216, 24, 79, 1); }
.한국투자주식앱-4-hsla { color: hsla(203, 91, 54, 1); }
.한국투자주식앱-5-hsla { color: hsla(200, 96, 58, 1); }


/* Color Theme Swatches in Hex */
.대한민국-대전-액스포-다리-야경-1-hex { color: #023859; }
.대한민국-대전-액스포-다리-야경-2-hex { color: #03658C; }
.대한민국-대전-액스포-다리-야경-3-hex { color: #F2B705; }
.대한민국-대전-액스포-다리-야경-4-hex { color: #F27405; }
.대한민국-대전-액스포-다리-야경-5-hex { color: #F20505; }

/* Color Theme Swatches in RGBA */
.대한민국-대전-액스포-다리-야경-1-rgba { color: rgba(1, 55, 89, 1); }
.대한민국-대전-액스포-다리-야경-2-rgba { color: rgba(2, 101, 140, 1); }
.대한민국-대전-액스포-다리-야경-3-rgba { color: rgba(242, 182, 4, 1); }
.대한민국-대전-액스포-다리-야경-4-rgba { color: rgba(242, 115, 4, 1); }
.대한민국-대전-액스포-다리-야경-5-rgba { color: rgba(242, 4, 4, 1); }

/* Color Theme Swatches in HSLA */
.대한민국-대전-액스포-다리-야경-1-hsla { color: hsla(202, 96, 17, 1); }
.대한민국-대전-액스포-다리-야경-2-hsla { color: hsla(196, 96, 28, 1); }
.대한민국-대전-액스포-다리-야경-3-hsla { color: hsla(45, 96, 48, 1); }
.대한민국-대전-액스포-다리-야경-4-hsla { color: hsla(28, 96, 48, 1); }
.대한민국-대전-액스포-다리-야경-5-hsla { color: hsla(0, 96, 48, 1); }

/* Color Theme Swatches in Hex */
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-1-hex { color: #BF5E70; }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-2-hex { color: #30618C; }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-3-hex { color: #3F7E8C; }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-4-hex { color: #D9BBA0; }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-5-hex { color: #F2AA80; }

/* Color Theme Swatches in RGBA */
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-1-rgba { color: rgba(191, 93, 111, 1); }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-2-rgba { color: rgba(47, 97, 140, 1); }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-3-rgba { color: rgba(63, 126, 140, 1); }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-4-rgba { color: rgba(216, 186, 160, 1); }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-5-rgba { color: rgba(242, 170, 128, 1); }

/* Color Theme Swatches in HSLA */
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-1-hsla { color: hsla(348, 43, 55, 1); }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-2-hsla { color: hsla(208, 49, 36, 1); }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-3-hsla { color: hsla(191, 37, 39, 1); }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-4-hsla { color: hsla(28, 42, 73, 1); }
.Gyeongbok-palace-in-Seoul-City,-Gyeongbokgung-palace-landmark-of-Seoul,-South-Korea,-Korean-wooden-traditional-house-in-Gyeongbokgung-the-main-royal-palace-of-Joseon-dynasty.-5-hsla { color: hsla(22, 81, 72, 1); }


/* Color Theme Swatches in Hex */
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-1-hex { color: #A60512; }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-2-hex { color: #D90B1C; }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-3-hex { color: #042159; }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-4-hex { color: #A7D5F2; }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-5-hex { color: #B3E0F2; }

/* Color Theme Swatches in RGBA */
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-1-rgba { color: rgba(165, 4, 18, 1); }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-2-rgba { color: rgba(216, 10, 27, 1); }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-3-rgba { color: rgba(4, 32, 89, 1); }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-4-rgba { color: rgba(167, 213, 242, 1); }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-5-rgba { color: rgba(179, 224, 242, 1); }

/* Color Theme Swatches in HSLA */
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-1-hsla { color: hsla(354, 94, 33, 1); }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-2-hsla { color: hsla(354, 90, 44, 1); }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-3-hsla { color: hsla(219, 90, 18, 1); }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-4-hsla { color: hsla(202, 74, 80, 1); }
.국기,-대한민국,-한국어,-남,-남한,-기호,-삽화,-국가,-국가,-아이콘,-asia,-3-차원,-기호,-현수막,-국가,-바람,-벡터,-서울,-애국심,-지도,-도안-5-hsla { color: hsla(196, 71, 82, 1); }


/* Color Theme Swatches in Hex */
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-1-hex { color: #0E2940; }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-2-hex { color: #2A7A8C; }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-3-hex { color: #F2D479; }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-4-hex { color: #F2AA6B; }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-5-hex { color: #D9564A; }

/* Color Theme Swatches in RGBA */
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-1-rgba { color: rgba(14, 40, 63, 1); }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-2-rgba { color: rgba(42, 122, 140, 1); }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-3-rgba { color: rgba(242, 211, 121, 1); }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-4-rgba { color: rgba(242, 169, 106, 1); }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-5-rgba { color: rgba(216, 85, 73, 1); }

/* Color Theme Swatches in HSLA */
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-1-hsla { color: hsla(208, 63, 15, 1); }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-2-hsla { color: hsla(191, 53, 35, 1); }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-3-hsla { color: hsla(44, 82, 71, 1); }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-4-hsla { color: hsla(28, 84, 68, 1); }
.Korea-highlighted-on-world-map.-Illuminated-tech-network-shows-urban-areas,-connectivity.-Global-geography-with-bright-colorful-lighting.-Modern-digital-photo.-International-connections.-High-tech-5-hsla { color: hsla(5, 65, 56, 1); }


/* Color Theme Swatches in Hex */
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-1-hex { color: #020873; }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-2-hex { color: #010326; }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-3-hex { color: #F2CB05; }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-4-hex { color: #F28705; }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-5-hex { color: #F20505; }

/* Color Theme Swatches in RGBA */
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-1-rgba { color: rgba(2, 7, 114, 1); }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-2-rgba { color: rgba(0, 2, 38, 1); }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-3-rgba { color: rgba(242, 202, 4, 1); }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-4-rgba { color: rgba(242, 135, 4, 1); }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-5-rgba { color: rgba(242, 4, 4, 1); }

/* Color Theme Swatches in HSLA */
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-1-hsla { color: hsla(236, 96, 22, 1); }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-2-hsla { color: hsla(236, 96, 7, 1); }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-3-hsla { color: hsla(50, 96, 48, 1); }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-4-hsla { color: hsla(33, 96, 48, 1); }
.Neon-lights-in-the-night-of-the-city-of-Seoul-in-South-Korea-5-hsla { color: hsla(0, 96, 48, 1); }



/* Color Theme Swatches in Hex */
.경복궁-경회루의-봄-종로구,-서울-대한민국-1-hex { color: #0597F2; }
.경복궁-경회루의-봄-종로구,-서울-대한민국-2-hex { color: #30A8F2; }
.경복궁-경회루의-봄-종로구,-서울-대한민국-3-hex { color: #6BBEF2; }
.경복궁-경회루의-봄-종로구,-서울-대한민국-4-hex { color: #94D7F2; }
.경복궁-경회루의-봄-종로구,-서울-대한민국-5-hex { color: #2D4006; }

/* Color Theme Swatches in RGBA */
.경복궁-경회루의-봄-종로구,-서울-대한민국-1-rgba { color: rgba(4, 151, 242, 1); }
.경복궁-경회루의-봄-종로구,-서울-대한민국-2-rgba { color: rgba(48, 167, 242, 1); }
.경복궁-경회루의-봄-종로구,-서울-대한민국-3-rgba { color: rgba(106, 190, 242, 1); }
.경복궁-경회루의-봄-종로구,-서울-대한민국-4-rgba { color: rgba(147, 215, 242, 1); }
.경복궁-경회루의-봄-종로구,-서울-대한민국-5-rgba { color: rgba(45, 63, 5, 1); }

/* Color Theme Swatches in HSLA */
.경복궁-경회루의-봄-종로구,-서울-대한민국-1-hsla { color: hsla(202, 96, 48, 1); }
.경복궁-경회루의-봄-종로구,-서울-대한민국-2-hsla { color: hsla(202, 88, 56, 1); }
.경복궁-경회루의-봄-종로구,-서울-대한민국-3-hsla { color: hsla(202, 84, 68, 1); }
.경복궁-경회루의-봄-종로구,-서울-대한민국-4-hsla { color: hsla(196, 78, 76, 1); }
.경복궁-경회루의-봄-종로구,-서울-대한민국-5-hsla { color: hsla(78, 83, 13, 1); }


/* Color Theme Swatches in Hex */
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-1-hex { color: #0367A6; }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-2-hex { color: #F2C641; }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-3-hex { color: #F29B30; }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-4-hex { color: #F2E2CE; }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-5-hex { color: #F24535; }

/* Color Theme Swatches in RGBA */
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-1-rgba { color: rgba(3, 103, 165, 1); }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-2-rgba { color: rgba(242, 198, 65, 1); }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-3-rgba { color: rgba(242, 155, 48, 1); }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-4-rgba { color: rgba(242, 225, 205, 1); }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-5-rgba { color: rgba(242, 69, 53, 1); }

/* Color Theme Swatches in HSLA */
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-1-hsla { color: hsla(202, 96, 33, 1); }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-2-hsla { color: hsla(44, 87, 60, 1); }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-3-hsla { color: hsla(33, 88, 56, 1); }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-4-hsla { color: hsla(33, 58, 87, 1); }
.쇼핑몰-매장-카메라-모션-블러효과처리한-카피공간활용-이미지-5-hsla { color: hsla(5, 88, 57, 1); }


/* Color Theme Swatches in Hex */
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-1-hex { color: #3C6373; }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-2-hex { color: #A2DCF2; }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-3-hex { color: #D5F2F2; }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-4-hex { color: #A68365; }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-5-hex { color: #D9AE89; }

/* Color Theme Swatches in RGBA */
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-1-rgba { color: rgba(59, 99, 114, 1); }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-2-rgba { color: rgba(162, 219, 242, 1); }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-3-rgba { color: rgba(213, 242, 242, 1); }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-4-rgba { color: rgba(165, 131, 101, 1); }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-5-rgba { color: rgba(216, 173, 136, 1); }

/* Color Theme Swatches in HSLA */
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-1-hsla { color: hsla(196, 31, 34, 1); }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-2-hsla { color: hsla(196, 75, 79, 1); }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-3-hsla { color: hsla(180, 53, 89, 1); }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-4-hsla { color: hsla(28, 26, 52, 1); }
.Sun-drenched,-empty-outdoor-cafe-in-Santorini,-Greece,-white-tables-and-blue-chairs,-overlooking-the-Aegean-Sea-in-summer.-5-hsla { color: hsla(28, 51, 69, 1); }


/* Color Theme Swatches in Hex */
.고요함-1-hex { color: #6C748C; }
.고요함-2-hex { color: #2A3340; }
.고요함-3-hex { color: #B6DBF2; }
.고요함-4-hex { color: #F2CCB6; }
.고요함-5-hex { color: #D9A79C; }

/* Color Theme Swatches in RGBA */
.고요함-1-rgba { color: rgba(107, 116, 140, 1); }
.고요함-2-rgba { color: rgba(42, 51, 63, 1); }
.고요함-3-rgba { color: rgba(181, 219, 242, 1); }
.고요함-4-rgba { color: rgba(242, 203, 181, 1); }
.고요함-5-rgba { color: rgba(216, 167, 156, 1); }

/* Color Theme Swatches in HSLA */
.고요함-1-hsla { color: hsla(225, 12, 48, 1); }
.고요함-2-hsla { color: hsla(213, 20, 20, 1); }
.고요함-3-hsla { color: hsla(202, 70, 83, 1); }
.고요함-4-hsla { color: hsla(22, 70, 83, 1); }
.고요함-5-hsla { color: hsla(11, 44, 73, 1); }


/* Color Theme Swatches in Hex */
.푸른-하늘과-활주로의-여객기-1-hex { color: #024059; }
.푸른-하늘과-활주로의-여객기-2-hex { color: #03738C; }
.푸른-하늘과-활주로의-여객기-3-hex { color: #F2E2C4; }
.푸른-하늘과-활주로의-여객기-4-hex { color: #D99F7E; }
.푸른-하늘과-활주로의-여객기-5-hex { color: #8C2218; }

/* Color Theme Swatches in RGBA */
.푸른-하늘과-활주로의-여객기-1-rgba { color: rgba(1, 64, 89, 1); }
.푸른-하늘과-활주로의-여객기-2-rgba { color: rgba(2, 115, 140, 1); }
.푸른-하늘과-활주로의-여객기-3-rgba { color: rgba(242, 226, 196, 1); }
.푸른-하늘과-활주로의-여객기-4-rgba { color: rgba(216, 159, 125, 1); }
.푸른-하늘과-활주로의-여객기-5-rgba { color: rgba(140, 33, 23, 1); }

/* Color Theme Swatches in HSLA */
.푸른-하늘과-활주로의-여객기-1-hsla { color: hsla(196, 96, 17, 1); }
.푸른-하늘과-활주로의-여객기-2-hsla { color: hsla(191, 96, 28, 1); }
.푸른-하늘과-활주로의-여객기-3-hsla { color: hsla(39, 64, 85, 1); }
.푸른-하늘과-활주로의-여객기-4-hsla { color: hsla(22, 54, 67, 1); }
.푸른-하늘과-활주로의-여객기-5-hsla { color: hsla(5, 70, 32, 1); }
